<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New One Game</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary" style="height: 600px;">

                <div class="panel-heading">
                    <div class="text-center">
                        <h1>Tic Tac Toe!</h1>
                    </div>
                </div>
                <div class="panel-body" >

                    <div class="col-md-10 col-md-offset-1" >
                        <div class="text-center">
                            <div>
                                <h1 th:text="#{wojtek11530.tictactoe.controllers.GameController.oneplayer.title}">New Game for One Player</h1>
                            </div>
                        </div>
                        <div>

                            <div>

                                <form th:object="${game}" th:action="@{/gameForOne/}" method="post" >
                                    <div style="margin-top: 70px" th:style="${#fields.hasErrors('*')}
                                           ? 'margin-top: 10px;' : 'margin-top: 80px;'">

                                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                                            <p th:text="#{wojtek11530.tictactoe.controllers.GameController.oneplayer.error}">Please Correct Errors Below</p>
                                        </div>

                                        <input type="hidden" th:field="*{id}"/>
                                        <input type="hidden" th:field="*{player2}"/>

                                        <div class="col-md-6">
                                            <div class="form-group" th:class="${#fields.hasErrors('player1')}
                                                   ? 'form-group has-error' : 'form-group'">

                                                    <label th:text="#{wojtek11530.tictactoe.controllers.GameController.oneplayer.player}">Player:</label>

                                                    <select class="form-control"  th:if="${ #lists.isEmpty(playerList)}">
                                                        <option value=""> -- </option>
                                                    </select>

                                                    <select class="form-control" th:field="*{player1}" th:if="${not #lists.isEmpty(playerList)}">
                                                        <option th:each="player : ${playerList}"
                                                                th:value="${player.id}"
                                                                th:text="${player.name}">Name Of Player</option>
                                                    </select>
                                                    <span class="help-block" th:if="${#fields.hasErrors('player1')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('player1')}" th:text="${err}"/>
                                                        </ul>
                                                    </span>
                                            </div>


                                            <div class="form-group" >

                                                <select class="form-control" th:if="${ #lists.isEmpty(playerList)}">
                                                    <option th:each="sign : ${allSigns}"
                                                            th:value="${sign}"
                                                            th:text="${sign}">Sign</option>
                                                </select>

                                                <select class="form-control" th:field="*{player1.signOfPlayer}" th:if="${not #lists.isEmpty(playerList)}">
                                                    <option th:each="sign : ${allSigns}"
                                                            th:value="${sign}"
                                                            th:text="${sign}">Sign</option>
                                                </select>

                                            </div >
                                        </div>
                                        <div class="col-md-6 vertical-center" style="margin-top: 40px">

                                            <div class="text-center ">
                                                <button type="submit" class="btn btn-primary btn btn-lg"
                                                        th:text="#{wojtek11530.tictactoe.controllers.GameController.oneplayer.start}">Start a Game!</button>
                                            </div>
                                        </div>

                                    </div>
                                </form>


                            </div>

                        </div>
                    </div>

                    <div class="col-md-10 col-md-offset-1" style="margin-top: 10px" >
                        <div class="col-md-6 col-md-offset-3">
                            <a class="btn btn-default btn btn-block" href="#"
                               th:href="@{'/tictactoe/game/new'}"
                               role="button"
                               th:text="#{wojtek11530.tictactoe.controllers.GameController.oneplayer.return}">Return</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>